
body {
    font-family: sans-serif;
    background-color: #f0f0f0;
}

form {
    background-color: white;
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid black;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}

.error {
    color: red;
    font-size: 12px;
}